# change to localhost if you are running the database locally
# leave it as is if you are using docker
POSTGRES_CONNECTION_STRING=postgresql://postgres:password@localhost:5432/postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
INITIAL_CSV_DATA_PATH=./data/initial_data.csv